.popup__container {
  position: relative;
  background-color: #fff;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

@media screen and (max-width: 580px) {
  .popup__container {
    max-width: 282px;
  }
}
